body {
  margin: 0;
  padding: 0;
  /* position: relative; */
}

/* ヘッダー */

header {
  /* background: #ddd; */
  padding: 0;
  margin: 0;
  /* border-bottom: 1px solid #ddd; */
  /* width: 100%; */
  /* height: 54px; */
  position: fixed;
  top: 0;
  z-index: 2;
}

#composer {
  background: no-repeat center/100% url("../img/sky 2.jpg");
  margin: 0;
  padding: 0;
  /* border-bottom: 1px solid #ddd; */
  width: 100%;
  height: 140px;
  font-weight: bold;
  
  position: fixed;
  z-index: 2;
}

/* #underHeader {
  width: 100%;
  height: 140px;
} */

#composer h1 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  border: 0;
  padding: 0;
  padding-top: 12px;
  line-height: 48px;
  /* margin-top: 10px;   */
}

#composer h2 {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

nav {
  text-decoration: none;
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 3;
  top: 88px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  cursor: pointer;
  text-align: center;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 4px;
  padding: 0 4px;
  width: 48px;
  background: rgb(187, 248, 126);
  user-select: none;
}

nav li:hover {
  background: chartreuse;
}

nav a {
  font-size: 12px;
  text-decoration: none;
}

#pieceListBtn {
  background: #efefef;
  border: sandybrown 1px solid;
  /* width: 120px; */
}

#pieceListBtn:hover {
  background: wheat;
}

/* ポジション */
main {
  position: relative;
  top: 140px;
}

/* section {
  position: relative;
  top: 140px;
} */

/* 前書き */

#foreword {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 48px;
  padding: 8px;
}

#foreword div {
  margin-bottom: 4px;
}

#foreword p {
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-weight: bold; */
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#descBtn {
  font-size: 12px;
  background: #efefef;
  border: sandybrown 1px solid;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  width: 244px;
  /* height: 28px; */
  /* line-height: 28px; */
  /* text-align: center; */
  margin-left: 8px;
  margin-top: 8px;
  cursor: pointer;
  user-select: none;
}

#descBtn:hover {
  background: wheat;
}

/* 使い方のページ */

#description {
  background: #efefef;
  padding: 8px;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 12px;

  position: absolute;
  top: 6px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: .4s;
  z-index: 4;
}

#description.hidden {
  transform: translateY(-800px);
}

#description p {
  margin: 6px;
}

/* セクション */

section {
  margin: 0 auto 0;
  padding: 0;
  margin-bottom: 36px;
}

.sectionTitle {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  margin-bottom: 28px;
  padding: 4px 0;
}

.fpTitle {
  background-color: plum;
}

.cpTitle {
  background-color: royalblue;
}

.vapTitle {
  background-color: salmon;
}

.fgTitle {
  background: skyblue;
}

section h1,
section h3 {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  text-align: center;
}

section h1 {
  font-size: 16px;
}

section h3 {
  font-size: 12px;  
}

section ul {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: 0 auto;
}


/* 各曲 */

section li {
  margin-bottom: 32px;
}

section li h2 {
  margin: 0;
  font-size: 14px;
  /* width: 250px; */
}

section li h2:hover {
  cursor: pointer;
}

section img {
  width: 270px;
  vertical-align: bottom;
  /* opacity: 0.7; */
  cursor: pointer;
}

/* section img:hover {
  opacity: 1;
} */

section p {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 270px;
}

/* 再生ボタンなど */

section li div {
  border: darkblue 1px solid;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
}

section li div.hidden {
  display: none;
}

section li h3 {
  font-size: 16px;
  text-align: center;
}

section li figure {
  margin: 0;  
}

section li figcaption {
  font-size: 14px;
}

section li audio {
  margin-bottom: 8px;
}

section li a {
  text-decoration: none;
}

section li button {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}



/* 楽曲一覧 */

#pieceList {
  background-color: #efefef;
}

#pieceList h1 {
  padding: 8px;
  text-align: left;
  margin-bottom: 8px;
  color: darkblue;
}

#pieceList table {
  background-color: #ddd;
  margin: 0 auto;
}

#pieceList table, th, td {
  border: 1px rgba(0, 0, 0, 0.4) solid;
  border-collapse: collapse;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  color: firebrick;
}

#pieceList td a {
  text-decoration: none;
  cursor: pointer; 
}
#pieceList td a:hover {
  background: #fff;
}

footer {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* メディアクエリ */

@media (min-width: 400px) {
  #foreword p {
    margin-left: 16px;
  }


  section ul {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  section li {
    margin: 0 24px 40px 8px;
  }

  #pieceList h1 {
    text-align: center;
  }

}